body { font-family: Arial; background: #f4f4f4; margin: 0; }
.container { max-width: 1100px; margin: 20px auto; padding: 20px; }
main { display: flex; gap: 20px; }
#catalog { width: 250px; }
.card { background: #fff; padding: 10px; border-radius: 8px; display: flex; gap: 10px; margin-bottom: 10px; cursor: pointer; }
.card img { width: 70px; height: 100px; object-fit: cover; border-radius: 5px; }
#player-box { background: #000; padding: 10px; border-radius: 10px; }
video { width: 100%; border-radius: 8px; }
#meta { margin-top: 10px; }
